@model IEnumerable<OnLineShop.Web.Models.Products.ProductsViewModel>
<div class="row">
    <ul>
        @foreach (var item in @Model)
        {
            <li class="list-inline list-unstyled">

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="panel panel-info" style="padding-left:15px; padding-right:15px">

                                <div class="row panel-heading">
                                    <div class="panel-title text-center"><strong>@item.Name</strong></div>
                                    <div class="row">
                                        <div class="col-md-6">@item.BrandName</div>
                                        <div class="col-md-6 text-right"> @item.CategoryName</div>
                                    </div>


                                </div>
                                <a href="@Url.Action("ProductDetails", "Product", new {id=item.Id})">
                                    <div class="panel-body">
                                        <div class="row">
                                            <img src="@Url.Content(item.PictureUrl)" class="img-responsive" width="200" />
                                        </div>

                                    </div>
                                </a>
                                <div class="row panel-footer ">

                                    <div class="col-lg-6 badge text-left">@item.Price лв.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                
            </li>
        }
    </ul>
</div>

