@model IEnumerable<OnLineShop.Web.Models.Products.ProductsViewModel>


<div class="content-wrap centering">
    <div class="main-title spacing-bt">
        <ul class="grid effect-8" id="grid">
            <li>
                <h1>@ViewBag.Message</h1>
            </li>
        </ul>
    </div>
    <div class="featured-items">
        <ul class="grid effect-2" id="grid">

            @foreach (var item in @Model)
            {
                <li>
                    <div class="item">
                        <h5>@item.Name</h5>
                
                        <div class="grow">
                            <a href="@Url.Action("ProductDetails", "Product", new {id=item.Id})">
                                <img src="@Url.Content(item.PictureUrl)" class="img-responsive" width="200" />
                            </a>
                        </div>
                          
                        
                        <div class="badge text-right" style="font-size:14px">@item.Price лв.</div>
                        <p class="text-right">@item.BrandName</p>
                    </div>
                </li>
            }

        </ul>

    </div>
</div>
<div class="ruler"></div>